* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

@import "sass/_colors";

html {
  scroll-behavior: smooth;
}

body {
  background-color: $black;
  color: $white;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

@import "sass/_navbar";
@import "sass/_cards";
@import "sass/_search";
